* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: aqua;
}

.nav {
    background-color: coral;
    padding-left: 15px;
    display: flex;
    align-items: center;
    width: 100%;
}

.nav-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: orange;
    vertical-align: top;
    height: 100%;
}

.nav-item {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 4px;
}

.nav-item:hover {
    background-color: coral;
}

.nav-item a {
    color: white;
}

.nav-item-active a {
    font-weight: bold;
}

.divbar {
    text-align: center;
    background-color: #f0f0f0;
    color: black;
    padding: 8px;
}

.nombre {
    margin: 0;
}

.texto {
    text-align: center;
}

main {
    padding: 24px;
    width: 100%;
    margin: auto;
    background-color: #f0f0f0;
}

.container h3,
.container p,
.container li {
    margin-bottom: 16px;
}

.container img {
    display: block;
    margin: auto;
    margin-bottom: 16px;
}

.lista {
    color: blue;
}

.footer {
    clear: both;
    position: bottom;
    height: 56px;
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(17, 219, 17);
}

@media screen and (max-width: 500px) and (min-width: 50px) {
    body {
        width: 500px;
    }
    main {
        box-sizing: border-box;
    }
    .container img {
        width: 30%;
    }
    section h3 {
        font-size: 24px;
    }
}

@media screen and (max-width: 1000px) and (min-width: 501px) {
    .container img {
        width: 40%;
    }
}